definition.json
{"name":"1003cf1d-70db-481d-817c-c0f2bf8d1c94","id":"/providers/Microsoft.Flow/flows/1003cf1d-70db-481d-817c-c0f2bf8d1c94","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"fraud_ai","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"59581d2c-9eaa-4921-9cc7-115c3b6c6734","type":"User","tenantId":"7359f896-71e2-4dae-b8a3-15cdf97f2f10"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-21T14:38:32.0141779Z","connectionKeySavedTimeKey":"2025-08-20T16:50:01.2008305Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"92da30cf-6a3f-4dd9-bb83-e4ee4a74ab9e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://adityagroup.sharepoint.com/sites/iship_17","table":"c07e3d5f-ff37-417c-b4f9-05a7cde18275"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"a1a53b49-604e-4fe7-ba9f-2e2211cd3d6a"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@triggerBody()?['Email_x0020_ID']","emailMessage/Subject":"Checking whether the message is Fraud or Not","emailMessage/Body":"<p class=\"editor-paragraph\">Dear Customer,<br>We have recieved the details from the form you have filled.<br>Please wait for the further information we'll Notify you within few minutes.<br>Thank you for contacting us.<br><br>Caution : <b><strong class=\"editor-text-bold\">Do NOT </strong></b>click on any<b><strong class=\"editor-text-bold\"> links</strong></b>,<b><strong class=\"editor-text-bold\"> download attachments</strong></b>,<b><strong class=\"editor-text-bold\">share personal</strong></b> or <b><strong class=\"editor-text-bold\">financial information</strong></b> until you recieve our mail regarding the message/email Provided.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Set_variable":{"metadata":{"operationMetadataId":"bc9cce6e-23ed-4277-9d8d-0e2bd8d31051"},"type":"SetVariable","inputs":{"name":"description","value":"@triggerBody()?['Message_x0020_Description']"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Set_variable_1":{"metadata":{"operationMetadataId":"fb02a6bc-c9b0-4810-8701-10188d55c163"},"type":"SetVariable","inputs":{"name":"description","value":"@triggerBody()?['Message']"}}}},"expression":{"and":[{"equals":["@triggerBody()?['How_x0020_the_x0020_message_x002/Value']","SMS"]}]},"metadata":{"operationMetadataId":"9a4c8032-b7ec-41bd-9e27-10aea4dc7642"},"type":"If"},"Initialize_variable":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"ed50ba12-a1b7-4cea-9827-637605d06c70"},"type":"InitializeVariable","inputs":{"variables":[{"name":"description","type":"string","value":"@triggerBody()?['Message_x0020_Description']"}]}},"Run_a_prompt":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"fcc1509e-79c0-46b8-aa07-ff4b19560dc7"},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"463a753d-472d-417d-8626-09a44bb599a5","item/requestv2/message":"@variables('description')","item/source":"{\"consumptionSource\":\"PowerAutomate\",\"partnerSource\":\"AIBuilder\",\"consumptionSourceVersion\":\"Flow\",\"partnerSourceVersion\":\"1003cf1d-70db-481d-817c-c0f2bf8d1c94\",\"displayName\":\"fraud_ai\"}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Condition_1":{"actions":{"Send_an_email_(V2)_1":{"metadata":{"operationMetadataId":"c1ec9c94-5937-4817-a49c-902c75e8b97f"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@triggerBody()?['Email_x0020_ID']","emailMessage/Subject":"Fraud Alert","emailMessage/Body":"<p class=\"editor-paragraph\">Dear @{triggerBody()?['Name']},<br>The message you have submitted :</p><br><p class=\"editor-paragraph\">@{variables('description')}.</p><p class=\"editor-paragraph\"><br>Matches a known <b><strong class=\"editor-text-bold\">\"</strong></b>@{outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text']}<b><strong class=\"editor-text-bold\">\"</strong></b> pattern in our system.<br><br>Please avoid responding or clicking any links in that message.</p><br><p class=\"editor-paragraph\">Please give your feedback 😊<br>Link : <a href=\"https://forms.office.com/r/cSVAk4wUg5\" class=\"editor-link\">https://forms.office.com/r/cSVAk4wUg5</a><br><br><b><strong class=\"editor-text-bold\">Regards,</strong></b><br><b><strong class=\"editor-text-bold\">Fraud Detection&nbsp;Team</strong></b>.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Send_an_email_(V2)_1":["Succeeded"]},"metadata":{"operationMetadataId":"8532e696-e0eb-475f-a7fc-52c543602f42"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://adityagroup.sharepoint.com/sites/iship_17","table":"c07e3d5f-ff37-417c-b4f9-05a7cde18275","id":"@triggerBody()?['ID']","item/Name":"@triggerBody()?['Name']","item/Location_x0020_":"@triggerBody()?['Location_x0020_']","item/Email_x0020_ID":"@triggerBody()?['Email_x0020_ID']","item/Status":"Fraud"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_2":{"metadata":{"operationMetadataId":"2f1791fa-683e-4881-a64c-e2803a70746f"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@triggerBody()?['Email_x0020_ID']","emailMessage/Subject":"Fraud Check Complete: Your Message Is Safe\n","emailMessage/Body":"<p class=\"editor-paragraph\">Dear @{triggerBody()?['Name']},</p><p class=\"editor-paragraph\">The system has analyzed the following content and found it to be <b><strong class=\"editor-text-bold\">\"</strong></b>@{outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text']}<b><strong class=\"editor-text-bold\">\"</strong></b></p><br><p class=\"editor-paragraph\">@{variables('description')}<br><br>There are no signs of fraud detected in this message/email.<br><br>If you still feel something is <b><strong class=\"editor-text-bold\">suspicious</strong></b>, please report it manually.</p><br><p class=\"editor-paragraph\">Please give your feedback 😊</p><p class=\"editor-paragraph\">Link : <a href=\"https://forms.office.com/r/cSVAk4wUg5\" class=\"editor-link\">https://forms.office.com/r/cSVAk4wUg5</a><br><br><b><strong class=\"editor-text-bold\">Stay safe</strong></b><b><strong class=\"editor-text-bold\">,</strong></b></p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Fraud Detection Team</strong></b></p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Update_item_1":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"22d085ab-7e49-4a1c-971e-87e22bf70ab3"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://adityagroup.sharepoint.com/sites/iship_17","table":"c07e3d5f-ff37-417c-b4f9-05a7cde18275","id":"@triggerBody()?['ID']","item/Name":"@triggerBody()?['Name']","item/Location_x0020_":"@triggerBody()?['Location_x0020_']","item/Email_x0020_ID":"@triggerBody()?['Email_x0020_ID']","item/Status":"Safe"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Compose')","Fraud"]}]},"metadata":{"operationMetadataId":"2d131893-31e6-4ebe-bdc4-062ce25a4336"},"type":"If"},"Compose":{"runAfter":{"Run_a_prompt":["Succeeded"]},"type":"Compose","inputs":"@outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text']"},"Delay":{"runAfter":{"Compose":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-ccbe6bb2-aba3-4dd3-95d4-0178ec97911b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-538310d8-1bdf-40a9-befe-a5135b7749e5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-a772f437-c5b2-4166-8138-6d7b68011227","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}